<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cool Cars!</title>
</head>
<body>
    <img style="width: 500px;" src="/images/cars/wheels.jpg" alt="Wheels">
    <img style="width: 500px;" src="/images/cars/heels.jpg" alt="Heels">
    <img style="width: 500px;" src="/images/cars/JPEG.jpg" alt="Cars">
</body>
</html>