<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cool Quotes</title>
</head>
<body class="bg-dark text-light text-center">
    <table class="table col-sm-4 offset-4">
        <tr>
            <th class="text-light">Name</th>
            <th class="text-light">Quote</th>
        </tr>
        <% for(var x=0; x < allusers.length; x++){ %>
            <tr class="text-light">
                <td><%= allusers[x].name %></td>
                <td>"<%= allusers[x].age %>"</td>
            </tr>
        <% } %>
    </table>
    <a href="/" class="btn btn-danger">Go Back</a>
</body>
</html>