<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" contents="ie-edge">
    <link rel="stylesheet" href="~/css/myFirstCSS.css">
    <title>Portfolio 2</title>
</head>
<body class="bg-dark text-light">
    <div class="text-center">
        <a href="/">Home</a>
        <span>|</span>
        <a href="/projects">Projects</a>
        <span>|</span>
        <a href="/contact">Contact</a>
    </div>
    <div class="text-center">
        <h1 class="text-center mt-4 bg-light text-dark pb-2 pt-2 rounded mb-5" style="width: 500px; margin-left: 700px;">
            Contact Me!
        </h1>
        <form action="/">
            <div class="d-inline-block">
                <h2>Name: <input class="form-control" type="text"></h2>
                <h2>Email: <input class="form-control" type="text"></h2>
            </div>
            <h2 class="d-inline-block ml-5 align-top"><p>
                Message: 
            </p>
            <input type="text" class="message form-control"></h2>
            <input type="submit" class="d-block btn btn-primary" style="margin-left: 900px; margin-top: 50px;">
        </form>
    </div>
</body>
</html>