<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body class="bg-dark text-center" style="padding-top: 10%;">
    <div class="text-light">
        <h1 style="font-size: 50pt;">Counter</h1>
        <h3>Times Visited: 
            <% if(count == 1){ %>
                <%= count %> time
            <% } else { %>
                <%= count %> times
            <% } %>
        </h3> 
        <p><a class="btn btn-primary" href="/">+1</a></p>
        <p><a class="btn btn-success" href="/two">+2</a></p>
        <p><a class="btn btn-danger" href="/clear">Clear</a></p>
    </div>
</body>
</html>