<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="text-center bg-primary">
    <form action="/add" method="POST">
        <p class="text-light d-inline-block">
            Email Address:
            <input type="text" name="email" class="form-control">
        </p>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>
            <input type="submit" class="btn btn-secondary" name="submit">
        </p>
    </form>
</body>
</html>