<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Duck</title>
</head>
<body class="bg-dark text-light text-center">
    <h1 class="mb-3">Create a new duck!</h1>
    <form action="/newduck" method="POST">
        <input type="text" class="form-control col-sm-4 offset-4 mb-4" name="color" placeholder="Duck Color">
        <input type="text" class="form-control col-sm-4 offset-4 mb-4" name="age" placeholder="Duck Age">
        <select class="form-control col-sm-4 offset-4 mb-4" name="gender">
            <option>Duck Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Create">
        <a href="/" class="btn btn-danger">Back</a>
    </form>
</body>
</html>