<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" contents="ie-edge">
    <link rel="stylesheet" href="~/css/myFirstCSS.css">
    <title>HelloASP</title>
</head>
<body>
    <h1 class="red">
        Hello from views!
    </h1>
    <a href="/hello">Say Hello</a>
    <h1>
        @ViewBag.Example
    </h1>
</body>
</html>