<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="bg-dark">
    <div class="container-fluid col-3">
        <h1 class="text-light">
            <U>Submitted Info:</U>
        </h1>
        <p class="text-light">
            Name: {{name}}
        </p>
        <p class="text-light">
            Dojo Location: {{dojo}}
        </p>
        <p class="text-light">
            Favorite Language: {{lingo}}
        </p>
        <p class="text-light">
            Comment: {{words}}
        </p>
    </div>
</body>
</html>