<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pointless Submitted Info! xD</title>
</head>
<body class="bg-dark text-center text-light">
    <h1 class="mt-5">Submitted Information</h1>
    <div class="bg-light text-dark text-left rounded container pt-5 pb-5" style="padding-left: 370px;">
        <h3>Name: <span class="text-primary"><%= name %></span></h3>
        <h3>Location: <span class="text-primary"><%= location %></span></h3>
        <h3>Language: <span class="text-primary"><%= language %></span></h3>
        <h3>Comment: <span class="text-primary"><%= comment %></span></h3>
        <a class="btn btn-primary mt-3" href="/clearsession">Go Back</a>
    </div>
</body>
</html>