<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Instructors</h1>

    <table>
        <th>First Name</th>
        <th> Last Name</th>
        <th>First and Last Name</th>
        {% for instructor in instructors %}
                <tr>
                    <td>{{ instructor['first_name'] }}</td>
                    <td>{{ instructor['last_name'] }}</td>
                    <td>{{ instructor['first_name'] }} {{instructor['last_name'] }}</td>
                </tr>
        {% endfor %}
    </table>

</body>
</html>