<div class="text-center">
    <h1 class="text-light"><a href="/chefs">Chefs</a> | Dishes</h1>
    <a href="/addDish">Add a Dish!</a>
</div>
<HR>
<div>
    <h3 class="border-bottom border-primary d-inline-block text-light">Yum, Take a look at our tasty dishes!</h3>
</div>