<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        {% for z in range(ytimes): %}
        <tr>
            {% for i in range(ztimes): %}
            <th style="background-color:{{hue}}"></th>
            <td></td>
            {% endfor %}
            {% for j in range(xtimes): %}
            <th style="background-color:{{hue}}"></th>
            <td></td>
            {% endfor %}
            {% for z in range(1): %}
            <tr>
                {% for i in range(ztimes): %}
                <td></td>
                <th style="background-color:{{hue}}"></th>
                {% endfor %}
                {% for j in range(xtimes): %}
                <td></td>
                <th style="background-color:{{hue}}"></th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>